html {
  font-family: "ProximaNova";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f3f4f5; */
}

.font-weight-semibold {
  font-family: "ProximaNova Semibold";
}

.font-semibold {
  font-family: "ProximaNova Semibold";
}

.font-light {
  font-family: "ProximaNova Light";
}

.font-info  {
  color: #6c707d;
}
